* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body,
html {
	width: 100%;
	height: 100%;
}
.wrapper {
	width: 40%;
	margin: 0 30%;
}
.hide {
	display: none;
}
#score-selection {
	font-size: 2rem;
}
#scoring-buttons button:active {
	background-color: rgba(0, 0, 0, 0.5);
}

.victory {
	position: absolute;
	left: 0;
	right: 0;
	top: 30%;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	font-size: 10rem;
	text-align: center;
	color: yellow;
	transition: font-size 2s ease-out;
}
